@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #faf9f6;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("/font/ClashDisplay-Variable.ttf");
}
@font-face {
  font-family: "Archivo";
  src: url("/font/Archivo-Variable.ttf");
}
